
.comprometimentoData h2, .comprometimentoData p {
  font-size: 1.2rem;
  margin-top: 1.4rem;
}

svg {
  fill: black;
  height: 1.5rem;
  width: 1.5rem;
}
.container{
  text-align: center;
  width: 100%;
  margin: 50px auto;
}

#conteudo {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

#conteudo .titulow {
  margin-bottom: 30px;
  flex: 1;
}
#conteudo .grid1, #conteudo .grid2, #conteudo .grid3, #conteudo .grid4 {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 0px 29px 6px rgba(3,3,3,0.28);
  -webkit-box-shadow: 1px 0px 29px 6px rgba(3,3,3,0.28);
  -moz-box-shadow: 1px 0px 29px 6px rgba(3,3,3,0.28);
  flex: 100%;
}



#QuemSomos {
  width: 80%;
  margin: 0 auto;
}

#QuemSomos .tituloSobre{
  font-size: 1.2rem;
  margin: 0 auto;
}
#QuemSomos #imgQuemSomos img{
  margin: 30px 0;
  width: 150px;
  border-radius: 50%;
 
 }

 #QuemSomos #textoAEC{
  width: 80%;
  margin: 0 auto;
  text-justify: inter-word;
 
 }

 #QuemSomos #textoAEC p{
   text-align: justify;
   margin: 20px 0;
 
 }
 @media(min-width: 0 ) and (max-width: 699px){
  .container #portfolio {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 50px auto;
  }
  #portfolio .titulo233{
    font-size: 1.4rem;
    flex: 100%;
    margin-bottom: 30px;
  }
  #portfolio .imagePortfolio{
    margin-top: 20px;
    flex: 100%;
    position: relative;
    width: 100%;
  }
  #portfolio .button {
    flex: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .third {
    border-color: var(--color-black);
    color: #fff;
    box-shadow: 0 0 40px 40px var(--color-black) inset, 0 0 0 0 var(--color-black);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 var(--color-white) inset, 0 0 10px 4px var(--color-white);
  }
  #portfolio button {
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    width: 100px;
    height: 30px;
    padding: 0;
    transition: transform 1s;
  }
  #portfolio p {
    grid-area: subtitulo;
  }
  #portfolio img{
    width: 100%;
  }
  .gestante h2, .bebe h2, .natal h2, .festa h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.58);
    transition: background 0.5s;
    top: 0;
  }
  .gestante h2:hover, .bebe h2:hover, .natal h2:hover, .festa h2:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
    top: 0;
  }
  
}

 @media(min-width: 700px) and (max-width: 1099px){
  .container #portfolio {
    width: 80%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 5px;
    margin: 0 auto;
    grid-template-areas: 
    'titulo233 titulo233'
    'gestante bebe'
    'natal festa'
    'teste teste';
  
  }
  
  #portfolio .titulo233{
    grid-area: titulo233;
    font-size: 1.4rem;
    margin-bottom: 30px;

  }
  #portfolio .imagePortfolio{
    position: relative;
    width: 100%;
  }
  #portfolio .gestante{
    grid-area: gestante;
  }
  #portfolio .bebe{
    grid-area: bebe;
  }
  #portfolio .natal{
    grid-area: natal;
  }
  #portfolio .festa{
    grid-area: festa;
  }
  #portfolio .button {
    text-align: center;
    margin-top: 20px;
    grid-area: teste;
  }
  .third {
    border-color: var(--color-black);
    color: #fff;
    box-shadow: 0 0 40px 40px var(--color-black) inset, 0 0 0 0 var(--color-black);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 var(--color-white) inset, 0 0 10px 4px var(--color-white);
  }
  #portfolio button {
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    width: 100px;
    height: 30px;
    padding: 0;
    transition: transform 1s;
  }
  #portfolio p {
    grid-area: subtitulo;
  }
  #portfolio img{
    width: 100%;
  }
  .gestante h2, .bebe h2, .natal h2, .festa h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.58);
    transition: background 0.5s;
    top: 0;
  }
  .gestante h2:hover, .bebe h2:hover, .natal h2:hover, .festa h2:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
    top: 0;
  }
 }


@media(min-width: 1100px){
  /*Conteudo informativo */
  
  #conteudo {
    margin-bottom: 80px;
    display: grid;
    text-align: center;
    gap: 50px;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'titulo titulo'
    'grid1 grid2'
    'grid3 grid4';
  }

  #conteudo .titulow {
    grid-area: titulo;
  }
  #conteudo .grid1, #conteudo .grid2, #conteudo .grid3, #conteudo .grid4{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 0px 29px 6px rgba(3,3,3,0.28);
    -webkit-box-shadow: 1px 0px 29px 6px rgba(3,3,3,0.28);
    -moz-box-shadow: 1px 0px 29px 6px rgba(3,3,3,0.28);
  }
  #conteudo .grid1{
    grid-area: grid1;
  } 
  #conteudo .grid2{
    grid-area: grid2;
  } 
  #conteudo .grid3{
    grid-area: grid3;
  } 
  #conteudo .grid4{
    grid-area: grid4;
  } 
  .comprometimentoData h2, .comprometimentoData p {
  
    margin-top: 1.4rem;
   
  }
  
  svg {
    fill: black;
    height: 2rem;
    width: 2rem;
  }
  /*fim conteudo */

  /*portfolio */
  .container #portfolio {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 5px;
    grid-template-areas: 
    'titulo233 titulo233 titulo233 titulo233'
    'gestante bebe natal festa'
    'teste teste teste teste';
  
  }
  #portfolio .titulo233{
    grid-area: titulo233;
    font-size: 1.4rem;
    margin-bottom: 30px;

  }
  #portfolio .imagePortfolio{
    position: relative;
  }
  #portfolio .gestante{
    grid-area: gestante;
  }
  #portfolio .bebe{
    grid-area: bebe;
  }
  #portfolio .natal{
    grid-area: natal;
  }
  #portfolio .festa{
    grid-area: festa;
  }
  #portfolio .button {
    text-align: center;
    margin-top: 20px;
    grid-area: teste;
  }
  .third {
    border-color: var(--color-black);
    color: #fff;
    box-shadow: 0 0 40px 40px var(--color-black) inset, 0 0 0 0 var(--color-black);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 var(--color-white) inset, 0 0 10px 4px var(--color-white);
  }
  #portfolio button {
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
    width: 100px;
    height: 30px;
    padding: 0;
    transition: transform 1s, color 1s;

  }

  
  #portfolio button:hover {
    color: var(--color-gains);
    transform: scale(1.1);
  }

  #portfolio p {
   
    grid-area: subtitulo;
  }
  
  #portfolio img{
    width: 100%;
  }

  .gestante h2, .bebe h2, .natal h2, .festa h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.58);
    transition: background 0.5s;
    top: 0;
  }

  .gestante h2:hover, .bebe h2:hover, .natal h2:hover, .festa h2:hover {
   
    color: white;
    background-color: rgba(0,0,0,0.8);
    top: 0;
  }

  /*QuemSOmos */
 #QuemSomos{
   text-align: center;
   display: grid;
   grid-template-rows: 50px 1fr;
   grid-template-columns: 1fr 1fr;
   grid-template-areas:
    'tituloQuemSomos tituloQuemSomos'
    'imagem texto';
 }
 #QuemSomos .tituloSobre {
   font-size: 1.4rem;
   grid-area: tituloQuemSomos;
 }

 #QuemSomos #imgQuemSomos {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
  
  grid-area: imagem;
}

#QuemSomos #imgQuemSomos img{
 width: 150px;
 border-radius: 50%;

}

#QuemSomos #textoAEC {
  grid-area: texto;
}

#QuemSomos p {
  margin-top: 20px;
  font-size: 1.2rem;
  grid-area: texto;
}
  /*fim quem somos */
}